venv/

connect_remote.json

210Pb_Template/template.log

geospatial/gadm_410-gpkg.zip

geospatial/gadm_410.gpkg

210Pb_Template/neotomaUploader/.venv/

210Pb_Template/data/
data/
data-toy/

210Pb_Template/data-all/
210Pb_Template/uncertaintyadditions.html
.gitignore

uncertaintyadditions_files/

210Pb_Template/neotomaUploader/__pycache__/

ORCID/.httr-oauth

*/*.DS_Store
*.DS_Store



*/application.log
**/application.log
210Pb_Template/.Renviron

.env
Bulk Uploader Notes.gdoc alias
.gitignore

.vscode/
210Pb_Template/output.yml